.vue-visual-block {
  &.vue-visual-block-focus {
    & * {
      transition: none !important;
    }
  }
}

/*.el-date-picker {
  width: initial !important;
}*/

/*.visual-block-number-range {
  width: 100%;
}*/

.visual-block-image {
  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}